{% extends 'base.html' %}



{% block main %}
  <div>
  The short link service was developed by a team of enthusiasts striving to make the internet more convenient
  and accessible for all users. We understand the importance of short and memorable links,
  which is why we've created a simple and effective tool for creating them.
  </div>
<p class="my-5">About the author of the project</p>
  <div>
  Contact Author:
  <a href="https://vk.com/id510018985" class="d-inline-flex focus-ring focus-ring-primary py-1 px-2 mt-5 text-decoration-none border rounded-2">VK</a>
  <a href="https://www.youtube.com/@BOSOZOKU-v2j" class="d-inline-flex focus-ring focus-ring-primary py-1 px-2 mt-5 text-decoration-none border rounded-2">YouTube</a>
  </div>
{% endblock %}
